Source: pass-extension-tail
Maintainer: Gavin Lai <gavin09@gmail.com>
Section: admin
Priority: optional
Standards-Version: 3.9.8
Build-Depends: debhelper (>=9)
Vcs-Git: https://github.com/palortoff/pass-extension-tail.git
Vcs-Browser: https://github.com/palortoff/pass-extension-tail

Package: pass-extension-tail
Architecture: all
Depends: ${misc:Depends}, pass (>= 1.7.0), gnupg2 | gnupg, bash
Description: A password-store extension to avoid printing the password
 An extension for the password store that allows to display and edit password
 meta data without displaying the password itself to bystanders.
